@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

@font-face{
	font-family: 'myFont';
	src: url(../font/font_personalized/ExodusDemo-Striped.otf);
}

body{
	background-color: #f3f7fd;
    margin: 0;
}

*, *:active, *:before{
    text-decoration: none;
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

*{
    font-family: 'Open Sans', sans-serif;
}

/* Animación de la navegación interna */
html{
	scroll-behavior: smooth;
}

/**menu*/

#btn-menu {
    display: none;
}

header label {
    cursor: pointer;
    display: none;
}

/*estilos generales menu*/

nav ul {
    list-style: none;
    padding: 0px;
    justify-content: flex-end;
    z-index: 150;
}

nav li {
    position: relative;
}

nav li ul {
    position: absolute;
}

nav a {
    color: #ddd;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all .4s;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.986);
}

nav ul ul {
    display: none;
}

/*estilos primer nivel*/

nav>ul {
    display: table;
    width: 100%;
}

nav>ul>li {
    float: right;
}

/*estilos segundo nivel*/

nav li li {
    background: rgba(0, 0, 0, 0.89);
    width: 148px;
}

nav li li:hover {
    background: rgba(0, 0, 0, 0.966);
    width: 148px;
}

nav>ul>li>ul {
    top: 100%;
}

/*estilos tercer nivel*/

nav ul ul ul {
    left: 100%;
    top: 0;
}

.menu a span {
    margin-left: 10px;
    transition: all 0.8s;
}

.menu ul li:hover ul {
    position: absolute;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: rgba(245, 3, 3, 0.986);
}

/*pantalla pequeña*/
@media (max-width: 764px) {
    header label {
        display: table;
        position: fixed;
        bottom: 90%;
        z-index: 1000;
    }

    .menu {
        font-size: 14px;
        transform: translatey(-200%);
        transition: all 0.5s;
    }

    nav ul li ul li ul:hover ul {
        display: none;
        position: static;
    }

    #btn-menu:checked~.menu {
        transform: translatey(0%);
    }
}

.logo {
    width: 165px;
    padding: 5px;
    display: block;
    float: left;
    margin-left: 4%;
}

.animacionImagen {
    opacity: 0;
    transition: all 0.8s;
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.8s;
}

/**imagen*/

header {
    width: 100%;
    height: 130px;
    background: #eb575793;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00000071, #EB5757), url(/src/images/Principal/Portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00000071, #eb575796), url(/src/images/Principal/Portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* Estilos de los iconos de las redes sociales */

.redes-sociales{
    position: fixed;
    display: flex;
    top: 35%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
    z-index: 200;
}

.redes-buttom{
    display: block;
	text-align:center;
    padding: .7rem;
    transition: .5s;
    /* border-bottom-right-radius: 12px; */
}

.redes-buttom:nth-child(1){
    border-top-right-radius: 12px;
}

.redes-buttom:nth-child(3){
    border-bottom-right-radius: 12px;
}

.red-facebook{
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    background-color: #1877f2;
    color: #fff;
    padding-left: 17.5px;
}

.red-whatsapp{
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    background-color: #25d366;
    color: #fff; 
}

.red-instagram{
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: #fff;
}

.redes-buttom:hover{
    padding-left: 3rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*  */
.list-section{
    display: inline;
    text-align: center;
}

/* Estilos del contenedor principal de la página */

.container{
    position: relative;
    background-color: rgb(232, 227, 211);
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    overflow: hidden;
}

.container-separate{
    position: relative;
    left: 47%;
    top: 20px;
    overflow: hidden;
}

/* Estilos de los textos del contenedor principal */
#dulceria-info{
    position: relative;
    font-size: 80px;
    padding: 0 100px 100px 100px;
}

#products-info{
    font-size: 30px;
    padding-left: 100px;
}

#image{
    position: absolute;
    width: 450px;
    height: 350px;
    left: 50%;
    top: 90px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
}

#image img{
    width: 100%;
    height: 100%;
}

#frase1-section{
    position: relative;
    font-size: 25px;
    left: 150px;
}

#separate-info{
    font-size: 30px;
    position: relative;
    left: 20px;
}

#separate-contacto{
    display: inline-block;
    font-size: 16px;
    color: #000;
    padding-top: 10px;
    padding-left: 22px;
    font-family: 'Be Vietnam', sans-serif;
}

#separate-contacto:before{
	content: "";
	position: absolute;
	width: 8%;
    top: 103px;
	height: 3px;
	background-color: #642a73;
	z-index: 500;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

#separate-contacto:hover:before{
	transform: scaleX(1);
	transform-origin: left;
}

/* Estilos de la barra lateral al costado derecho */

.section-lateral{
    float: right;
    margin-right: 20px;
    width: 30vw;
    height: 472.7vh;
    z-index: -2;
    background-image: url(../images/fondo.jpg);
}

.sub-section-lateral{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* lista */
.list-section ul{
    text-align: left;
    color: #fffa;
    list-style: none;
    /* margin-top: 30px; */
    margin-left: 35px;
}

.list-section li{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 25px;
}

.list-section .item-1 p{
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    font-size: 30px;
    /* margin-top: 75px; */
}

/* .item-1 p:before{
	content: "";
	position: absolute;
	width: 21%;
    top: 137%;
	height: 3px;
	background-color: #642a73;
	z-index: 1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.item-1 p:hover:before{
	transform: scaleX(1);
	transform-origin: left;
} */

.list-section ul li{
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
}

.fa-circle{
    color: #642a73;
    font-size: 20px;
}

/* lista 2 */

.list2-section ul{
    list-style: none;
    margin-top: 30px;
}

.list2-section .item-2 p{
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
}

/* .item-2 p:before{
	content: "";
	position: absolute;
	width: 17%;
    top: 189%;
	height: 3px;
	background-color: #642a73;
	z-index: 1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.item-2 p:hover:before{
	transform: scaleX(1);
	transform-origin: left;
} */


.list2-section ul li{
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
}


/* .divider{
    width: 350px;
    height: 150px;
} */

.fondo__images1 img{
    position: absolute;
    top: 250em;
    bottom: 0%;
    left: 70% ;
    width: 30px;
    opacity: .3;

    animation: animationImg 8s linear infinite;
    animation-delay: 3s;
}

.fondo__images2 img{
    position: absolute;
    top: 245em;
    bottom: 0%;
    left: 75% ;
    width: 60px;
    opacity: .3;

    animation: animationImg 8s linear infinite;
    animation-delay: 5s;
}

.fondo__images3 img{
    position: absolute;
    top: 253em;
    bottom: 0%;
    left: 80% ;
    width: 40px;
    opacity: .3;

    animation: animationImg 7s linear infinite;
    animation-delay: 7s;

}

.fondo__images4 img{
    position: absolute;
    top: 248em;
    bottom: 0%;
    left: 85% ;
    width: 40px;
    opacity: .3;

    animation: animationImg 9s linear infinite;
    animation-delay: 3s;
}

.fondo__images5 img{
    position: absolute;
    top: 251em;
    bottom: 0%;
    left: 90% ;
    width: 45px;
    opacity: .3;

    animation: animationImg 12s linear infinite;
    animation-delay: 1s;
}

.fondo__images6 img{
    position: absolute;
    top: 245em;
    bottom: 0%;
    left: 95% ;
    width: 42px;
    opacity: .3;

    animation: animationImg 9s linear infinite;
    animation-delay: 5s;    
}

.fondo__images7 img{
    position: absolute;
    top: 253em;
    bottom: 0%;
    left: 83% ;
    width: 35px;
    opacity: .3;

    animation: animationImg 7s linear infinite;
    animation-delay: 5s;
}

.fondo__images8 img{
    position: absolute;
    top: 253em;
    bottom: 0%;
    left: 96% ;
    width: 37px;
    opacity: .3;

    animation: animationImg 8s linear infinite;
    animation-delay: 1s;
}

@keyframes animationImg{
    0%{
        bottom: 0;
        opacity: 0;
    }
    25%{
        opacity: .4;
    }
    45%{
        opacity: .8;
    }
    50%{
        opacity: .10;
    }
    75%{
        opacity: .8;
    }
    95%{
        opacity: .4;
    }
    100%{
        top: 100vh;
        opacity: 0;
    }
}

/* Contenedor de las imagenes */
.targets{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-left: 70px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* Estilos de las tarjetas */
.img-fluid{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border: 4px solid;
    border-image-source: linear-gradient(45deg, #642a73, #aa2222);
    border-image-slice: 1;   

    transition: .6s;
}

.img-fluid:hover{
    box-shadow: 10px -10px 12px #222;
    transform: scale(1.03) rotate(0deg);
    cursor: pointer;
}

/* Botón para subir */
.return-up{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	padding-top: 7px;
	background-color:#642a73;
	color:#fff;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	z-index:100;
}

.return-up:hover{
	text-decoration: none;
	color: #fff;
	background-color: #aa2222;
}


/* Footer */
footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}

.content-foo {
    text-align: center;

}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;

}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;

}

.btn-menu2{
    visibility: hidden;
}

#btn-menu2{
    display: none;
}

.cancel-icon{
    visibility: hidden;
}

@media screen and (max-width: 1175px){

    .btn-menu2{
        visibility: visible;
        float: right;
        padding-right: 20px;
        line-height: 40px;
    }

    .btn-menu2 label{
        font-size: 20px;
    }

    #btn-menu2{
        display: none;
    }

    .lists label{
        position: absolute;
        left: 32em;
        top: 46.8em;
    }
    
    #dulceria-info{
        display: inline-block;
        position: relative;
        font-size: 65px;
        padding: 0 0 0 60px;
    }
    
    #products-info{
        font-size: 25px;
        padding-left: 60px;
    }
    
    #image{
        position: absolute;
        width: 410px;
        height: 300px;
        left: 47%;
        top: 80px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    }
    
    
    #frase1-section{
        position: relative;
        font-size: 22px;
        left: 10px;
        top: 90px;
    }

    #separate-info{
        font-size: 22px;
        position: relative;
        left: 10px;
        padding-top: 100px;
    }

    #separate-contacto{
        display: inline-block;
        font-size: 16px;
        color: #000;
        padding-top: 10px;
        padding-left: 100px;
        font-family: 'Be Vietnam', sans-serif;
    }

    #separate-contacto:before{
        content: "";
        position: absolute;
        width: 8%;
        top: 103px;
        height: 3px;
        background-color: #642a73;
        z-index: 500;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        visibility: hidden;
    }

    #separate-contacto:hover:before{
        transform: scaleX(1);
        transform-origin: left;
        visibility: hidden;

    }

     .section-lateral{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        display: none;
    }

    .section-lateral::before{
        content: "¡ Sorprende a esa persona tan especial !";
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        /* top: 40px; */
        font-size: 25px;
        padding: 20px;
        background-color: #aa2222
    }

    #btn-menu2:checked ~ .section-lateral{
        display: block;
    }

    .list-section ul{
        float: left;
        margin-top: 20px;
        margin-left: 80px;
    }

    .list-section .item-1{
        margin-bottom: 80px;
    }

    .list-section ul li{
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
    }

    .list2-section ul li{
        width: 300px;
        height: 100px;
        margin-bottom: 10px;
    }
    

    .list2-section ul{
        float: right;
        margin-top: 5px;
        margin-right: 50px;
    }

    .sub-section-lateral{
        width: 100%;
        height: 39em;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .fondo__images1 img{
        position: absolute;
        top: 89em;
        bottom: 0%;
        left: 10% ;
        width: 30px;
        opacity: .3;
    
        animation: animationImg 8s linear infinite;
        animation-delay: 2s;
    }
    
    .fondo__images2 img{
        position: absolute;
        top: 88em;
        bottom: 0%;
        left: 30% ;
        width: 60px;
        opacity: .3;
    
        animation: animationImg 8s linear infinite;
        animation-delay: 1s;
    }
    
    .fondo__images3 img{
        position: absolute;
        top: 89em;
        bottom: 0%;
        left: 40% ;
        width: 40px;
        opacity: .3;
    
        animation: animationImg 7s linear infinite;
        animation-delay: 2s;
    
    }
    
    .fondo__images4 img{
        position: absolute;
        top: 89em;
        bottom: 0%;
        left: 85% ;
        width: 40px;
        opacity: .3;
    
        animation: animationImg 9s linear infinite;
        animation-delay: 1s;
    }
    
    .fondo__images5 img{
        position: absolute;
        top: 89em;
        bottom: 0%;
        left: 60% ;
        width: 45px;
        opacity: .3;
    
        animation: animationImg 12s linear infinite;
        animation-delay: 2s;
    }
    
    .fondo__images6 img{
        position: absolute;
        top: 89em;
        bottom: 0%;
        left: 95% ;
        width: 42px;
        opacity: .3;
    
        animation: animationImg 9s linear infinite;
        animation-delay: 1s;    
    }
    
    .fondo__images7 img{
        position: absolute;
        top: 89em;
        bottom: 0%;
        left: 75% ;
        width: 35px;
        opacity: .3;
    
        animation: animationImg 7s linear infinite;
        animation-delay: 2s;
    }
    
    .fondo__images8 img{
        position: absolute;
        top: 89em;
        bottom: 0%;
        left: 20% ;
        width: 37px;
        opacity: .3;
    
        animation: animationImg 8s linear infinite;
        animation-delay: 1s;
    }
} 

/*  ------------------RESPONSIVE TABLET------------------ */

@media screen and (max-width: 820px){

    #dulceria-info{
        display: inline-block;
        position: relative;
        font-size: 60px;
        padding: 0 0 0 60px;
    }
    
    #products-info{
        font-size: 20px;
        padding-left: 60px;
    }
    
    #image{
        position: absolute;
        width: 350px;
        height: 280px;
        left: 48%;
        top: 80px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    }
    
    
    #frase1-section{
        position: relative;
        font-size: 22px;
        left: 10px;
        top: 90px;
    }

    #separate-info{
        font-size: 22px;
        position: relative;
        left: 10px;
        padding-top: 100px;
    }

    #separate-contacto{
        display: inline-block;
        font-size: 16px;
        color: #000;
        padding-top: 10px;
        padding-left: 100px;
        font-family: 'Be Vietnam', sans-serif;
    }

    #separate-contacto:before{
        content: "";
        position: absolute;
        width: 8%;
        top: 103px;
        height: 3px;
        background-color: #642a73;
        z-index: 500;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        visibility: hidden;
    }

    #separate-contacto:hover:before{
        transform: scaleX(1);
        transform-origin: left;
        visibility: hidden;

    }

    .list-section ul{
        float: left;
        margin-top: 20px;
        margin-left: 70px;
    }

    .list-section .item-1{
        margin-bottom: 80px;
    }

    .list-section ul li{
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
    }

    .list2-section ul li{
        width: 300px;
        height: 100px;
        margin-bottom: 10px;
    }
    

    .list2-section ul{
        float: right;
        margin-top: 5px;
        margin-right: 30px;
    }

    .targets{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        padding-left: 45px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 769px){

    #dulceria-info{
        position: relative;
        font-size: 60px;
        top: 290px;
    }

    #products-info{
        position: relative;
        font-size: 20px;
        text-align: center;
        top: -60px;
    }
    
    #image{
        position: relative;
        width: 380px;
        height: 300px;
        left: 15%;
        top: -190px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    }
    
    #frase1-section{
       display: none;
    }

    #separate-info{
        font-size: 25px;
        position: relative;
        top: -100px;
        display: none;
    }

    #separate-contacto{
        text-align: center;
        font-size: 20px;
        color: #000;
        padding-top: -100px;
        font-family: 'Be Vietnam', sans-serif;
        display: none;
    }

    #separate-contacto:before{
        content: "";
        position: absolute;
        width: 8%;
        top: 103px;
        height: 3px;
        background-color: #642a73;
        z-index: 500;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        visibility: hidden;
    }

    #separate-contacto:hover:before{
        transform: scaleX(1);
        transform-origin: left;
        visibility: hidden;

    }

    .list-section ul{
        float: left;
        margin-top: 20px;
        margin-left: 60px;
    }

    .list-section .item-1{
        margin-bottom: 80px;
    }

    .list-section ul li{
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
    }

    .list2-section ul li{
        width: 300px;
        height: 100px;
        margin-bottom: 10px;
    }
    

    .list2-section ul{
        float: right;
        margin-top: 5px;
        /* margin-right: 15px; */
    }


    .img-fluid{
        width: 330px;
        height: 250px;
        object-fit: cover;
        border: 4px solid;
        border-image-source: linear-gradient(45deg, #642a73, #aa2222);
        border-image-slice: 1;   
    
}
}
/*  ------------------RESPONSIVE CELULAR------------------ */

@media screen and (max-width: 749px){

    #dulceria-info{
        display: inline-block;
        position: relative;
        font-size: 60px;
        padding: 0 0 0 60px;
        top: -60px;
    }
    
    #products-info{
        position: relative;
        font-size: 20px;
        padding-left: 60px;
        top: -60px;
    }
    
    #image{
        position: relative;
        width: 350px;
        height: 270px;
        left: 75px;
        top: -50px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    }
    
    #frase1-section{
        position: relative;
        font-size: 22px;
        left: 10px;
        top: 10px;
        display: none;
    }

    #separate-info{
        font-size: 15px;
        position: absolute;
        padding-left: -100px;
        padding-top: 10px;
        display: none;
    }

    #separate-contacto{
        display: inline-block;
        position: relative;
        font-size: 20px;
        color: #000;
        padding-top: 0;
        padding-left: 110px;
        font-family: 'Be Vietnam', sans-serif;
    }

    #separate-contacto:before{
        content: "";
        position: absolute;
        width: 8%;
        top: 103px;
        height: 3px;
        background-color: #642a73;
        z-index: 500;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        visibility: hidden;
    }

    #separate-contacto:hover:before{
        transform: scaleX(1);
        transform-origin: left;
        visibility: hidden;

    }

    .targets{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        padding-left: 45px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .content-foo p {
        color: #ccc;
        font-size: 13px ;
    
    }

    .list-section ul{
        float: left;
        margin-top: 20px;
        margin-left: 100px;

    }

    .list-section .item-1{
        margin-bottom: 80px;
    }

    .list-section ul li{
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
    }

    .list2-section ul li{
        width: 300px;
        height: 70px;
        margin-bottom: 10px;
    }
    

    .list2-section ul{
        float: left;
        margin-top: 35px;
        margin-left: 100px;
    }

    .sub-section-lateral{
        width: 100%;
        height: 49em;
        background-color: rgba(0, 0, 0, 0.5);
    }


}
