* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'open sans';
}

#btn-menu {
    display: none;
}

header label {
    cursor: pointer;
    display: none;
}

/*estilos generales menu*/

nav ul {
    list-style: none;
    padding: 0;
    justify-content: flex-end;
}

nav li {
    position: relative;
}

nav li ul {
    position: absolute;
}

nav a {
    color: #ddd;
    display: block;
    /* font-size: 16px; */
    padding: 10px;
    text-decoration: none;
    transition: all .4s;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.986);
}

nav ul ul {
    display: none;
}

/*estilos primer nivel*/

nav>ul {
    display: table;
    width: 100%;
}

nav>ul>li {
    float: right;
}

/*estilos segundo nivel*/

nav li li {
    background: rgba(0, 0, 0, 0.89);
    width: 148px;
}

nav li li:hover {
    background: rgba(0, 0, 0, 0.966);
    width: 148px;
}

nav>ul>li>ul {
    top: 100%;
}

/*estilos tercer nivel*/

nav ul ul ul {
    left: 100%;
    top: 0;
}

.menu a span {
    margin-left: 10px;
    transition: all 0.8s;
}

/*---------------------------------------*/

.menu ul li:hover ul {
    position: absolute;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: rgba(245, 3, 3, 0.986);
}

/*pantalla pequeña*/
@media (max-width: 764px) {
    header label {
        display: table;
        position: fixed;
        bottom: 90%;
    }

    .menu {
        font-size: 14px;
        transform: translatey(-200%);
        transition: all 0.5s;
    }

    nav ul li ul li ul:hover ul {
        display: none;
        position: static;
    }

    #btn-menu:checked~.menu {
        transform: translatey(0%);
    }
}


.logo {
    width: 165px;
    padding: 15px;
    display: block;
    float: left;
    left: 25px;
    margin-left: 4%;
    transition: all 0.1s;
}

.animacionImagen {
    opacity: 0;
    transition: all 0.8s;
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.8s;
}


/**imagen*/

header {
    width: 100%;
    height: 600px;
    background: #eb575793;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00000071, #EB5757), url(https://i.ibb.co/hMzb1wv/Portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00000071, #eb575796), url(https://i.ibb.co/hMzb1wv/Portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*targetas informacion*/

.preferencias-contenedor {
    margin: 55px 0px;
    text-align: center;
    /*targetas derecha*/
    width: 100%;
}

.preferencias-contenedor img {
    top: 15px;
    width: 40%;
    height: 200px;
    position: relative;
    border-radius: 150px;
}

.preferencias-contenedor h1 {
    font-family: 'open sans';
    font-size: 30px;
    color: #fafafa;
    margin: 5px;
}

.preferencias-contenedor span {
    color: #ffee00;
    margin: 5px;
}

.preferencias-contenedor p {
    font-family: 'Farsan', cursive;
    text-align: center;
    font-size: 16px;
    color: #f8f8f8;
}

/* Estilos del separador con efecto parallax */
/* .separator__parallax{
	text-align: center;
	color: #fff;
	width: 100%;
	height: 250px;
    background: linear-gradient(to right, #00000071, #eb575796), url(/src/images/Principal/Portada.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.separator__parallax p{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-family: 'Noto Serif', serif;
	padding: 5px;
}
*/

/* Estilos de los iconos de las redes sociales */

.redes-sociales {
    position: fixed;
    display: flex;
    top: 35%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
    z-index: 200;
    opacity: 0;
}

.redes-buttom {
    display: block;
    text-align: center;
    padding: .7rem;
    transition: .5s;
    /* border-bottom-right-radius: 12px; */
}

.redes-buttom:nth-child(1) {
    border-top-right-radius: 12px;
}

.redes-buttom:nth-child(3) {
    border-bottom-right-radius: 12px;
}

.red-facebook {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #1877f2;
    color: #fff;
    padding-left: 17.5px;
}

.red-whatsapp {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #25d366;
    color: #fff;
}

.red-instagram {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: #fff;
}

.redes-buttom:hover {
    padding-left: 3rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*Estilos de texto que redirigen a los productos*/

.container-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background: #f2f2f2;
    margin: 2px;
}

.text__link-products p {
    text-align: right;
    margin-right: 100px;
    margin-top: 50px;
    color: #000;
    font-family: 'Be Vietnam', sans-serif;
}

.text__link-products p:before {
    content: "";
    position: absolute;
    width: 14%;
    height: 3px;
    top: 131em;
    background-color: #fff;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.text__link-products p:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.text-link p {
    display: inline-block;
    text-align: left;
    margin-top: 50px;
    color: #000;
    font-family: 'Be Vietnam', sans-serif;
}

.text-link p:before {
    content: "";
    position: absolute;
    width: 16%;
    height: 3px;
    top: 87%;
    background-color: #642a73;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.text-link p:hover:before {
    transform: scaleX(2.8);
    transform-origin: left;
}

p span {
    color: #642a73;
    background-color: rgba(0, 0, 0, 0.2);
}

/* ----- Info separator ----- */



.ubicacion__img {
    width: 250px;
    margin-left: 35%;
}

hr {
    width: 50%;
    margin-left: 45%;
}

.info-ComunicacionesLySanti {
    position: relative;
    width: 80%;
    padding: 20px;
    margin: 35px;
}


.info-ComunicacionesLySanti h3 {
    font-family: 'myFont';
    text-align: left;
    font-size: 50px;
    text-transform: uppercase;
    top: 100%;
    left: 65px;

}

.info-ComunicacionesLySanti p {
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    top: 100%;
    left: 20px;
}

.info-ComunicacionesLySanti img {
   width: 43%;
   height:43%;
   margin: 0px 13px;
}

/* .info-ComunicacionesLySanti:before{
	content: "";
	width: 60px;
	height: 2px;
	position: absolute;
	top: 34em;
	background-color: #642a73;
	left: 35em;
	z-index: 100;

	transform: rotate(90deg);
} */

.form-img,
.form-img2 {
    width: 100px;
    margin-top: 50px;
    border-radius: 10%;
}

.info__separator {
    position: relative;
    width: 100%;
    padding: 5px;
    margin: 80px 0px;
}

.info__separator h1 {
    font-size: 30px;
    margin-bottom: 1%;
    color: #642a73;
    font-family: 'Open Sans', sans-serif;
}

.info__separator p {
    font-size: 18px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 750px) {

    .container-info h3 {
        font-size: 28px;
        text-align: center;
    }

    .container-info p{
        font-size: 18px;
    }

    .info-ComunicacionesLySanti img {
        width: 50%;
        height:50%;
        margin: 10px 13px;
     }

    .container-info{
        text-align: center;
    }

    .text-link p:before {
        content: "";
        position: absolute;
        width: 16%;
        height: 3px;
        top: 97%;
        background-color: #642a73;
        z-index: 1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
    }
    
    .text-link p:hover:before {
        transform: scaleX(2.8);
        transform-origin: left;
    }
    
    p span {
        color: #642a73;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .info-ComunicacionesLySanti img {
        width: 150px;
        height: 150px;
    }

    .info__separator {
        top: 280px;
        left: -320px;
        padding: 5px;
        margin: 120% 0px;
        text-align: center;
    }

    .info__separator h1{
        margin: 15px;
        text-align: center;
        font-size: 28px;
    }


    .ubicacion__img {
        width: 250px;
        margin-left: 0%;
    }

    .info__separator p {
        color: #000;
        font-family: 'Open Sans', sans-serif;
    }

}

/* About us */
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 50px;
}

.imagen-about-us {
    width: 48%;

}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 5);
    margin-right: 5px;

}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;

}

/* Galeria */

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.portafolio {
    background: #f2f2f2;
    flex-wrap: 500px;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hover-galeria img {
    width: 50px;

}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* Clients */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    margin: 10px;
    padding: 20px;
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);

}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;


}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: #fff;

}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/* Nuestro Equipo */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    width: 100%;
    columns: 4;
}

.servicio-ind {
    text-align: center;
    margin: 15px;
    padding: 8px;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;

}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

/* footer */

/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    flex-grow: 1;

}

.contenedor-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
    -webkit-transition: margin 0.8s ease-out;
    -moz-transition: margin 0.8s ease-out;
    -ms-transition: margin 0.8s ease-out;
    transition: margin 0.8s ease-out;

}

.content-foo {
    text-align: center;
    max-width: 300px;
    padding: 25px;

}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.content-foo a {
    color: #ccc;
    text-decoration: none;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;

}

/*boton flotante volver*/

@media only screen and (max-width: 150px) {
    .return-up {
        font-size: 25px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}

.return-up {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 5px;
    padding-top: 7px;
    background-color: #b500e2;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    opacity: 0;
}

.return-up:hover {
    text-decoration: none;
    color: #fff;
    background-color: #aa2222;
}

.volver-fixed {
    opacity: 1;
    transition: all 0.8s;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 0px;
}