* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'open sans';
}

/**menu*/

#btn-menu {
    display: none;
}

header label {
    cursor: pointer;
    display: none;
}

/*estilos generales menu*/

nav ul {
    list-style: none;
    padding: 0px;
    justify-content: flex-end;
    z-index: 150;
}

nav li {
    position: relative;
}

nav li ul {
    position: absolute;
}

nav a {
    color: #ddd;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all .4s;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.986);
}

nav ul ul {
    display: none;
}

/*estilos primer nivel*/

nav>ul {
    display: table;
    width: 100%;
}

nav>ul>li {
    float: right;
}

/*estilos segundo nivel*/

nav li li {
    background: rgba(0, 0, 0, 0.89);
    width: 148px;
}

nav li li:hover {
    background: rgba(0, 0, 0, 0.966);
    width: 148px;
}

nav>ul>li>ul {
    top: 100%;
}

/*estilos tercer nivel*/

nav ul ul ul {
    left: 100%;
    top: 0;
}

.menu a span {
    margin-left: 10px;
    transition: all 0.8s;
}

.menu ul li:hover ul {
    position: absolute;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: rgba(245, 3, 3, 0.986);
}

/*pantalla pequeña*/
@media (max-width: 764px) {
    header label {
        display: table;
        position: fixed;
        bottom: 90%;
    }

    .menu {
        font-size: 14px;
        transform: translatey(-200%);
        transition: all 0.5s;
    }

    nav ul li ul li ul:hover ul {
        display: none;
        position: static;
    }

    #btn-menu:checked~.menu {
        transform: translatey(0%);
    }
}

.logo {
    width: 165px;
    padding: 5px;
    display: block;
    float: left;
    margin-left: 4%;
}

.animacionImagen {
    opacity: 0;
    transition: all 0.8s;
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.8s;
}

/**imagen*/

header {
    width: 100%;
    height: 130px;
    background: #eb575793;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00000071, #EB5757), url(/src/images/Principal/Portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00000071, #eb575796), url(/src/images/Principal/Portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/**menu de hombres*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* SLIDER ==============================*/

.flexslider {
    width: 65%;
    margin: 17px auto;
    border: 5px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.70);
    display: flex;
    flex-direction: column;
    position: relative;
}

.slides,
.slides li,
.slides li img {
    width: 100%;
    height: 480px;
}

.slides li {
    margin-bottom: -5px;
}

/* PAGINACION =======================*/

.flex-control-nav.flex-control-paging {
    width: 120px;
    padding: 20px 0px;
    background: #ff0000;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.80);

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    list-style: none;

    position: absolute;
    bottom: -29px;
    z-index: 3;
}

.flex-control-nav li {
    display: inline-block;
    margin: 0 5px;
}

.flex-control-nav li a {
    display: block;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    text-indent: -9999px;
    box-shadow: inset 0px -3px 2px 0px rgba(0, 0, 0, 0.55);
}

.flex-control-nav li a.flex-active {
    background: #ffffff;
}

/* NAVEGACION ===============*/
.flex-direction-nav {
    z-index: 3;
    list-style: none;
}

.flex-direction-nav a {
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.836);

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    opacity: 0;

    position: absolute;
    top: 50%;
    margin-top: -30px;

    transition: all 0.3s ease-in-out;
}

.flex-direction-nav a::before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 50px;
    color: rgb(255, 0, 0);
}

.flex-direction-nav a.flex-next::before {
    content: "\f105";
}

.flex-direction-nav .flex-prev {
    left: 0px;
}

.flex-direction-nav .flex-next {
    right: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 15px;
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    right: 15px;
}

/* CAPTION ==================*/
.caption {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    position: absolute;
    top: 110px;
    left: 145px;
    z-index: 2;
}

.caption a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.836);
    border-radius: 14px;
    letter-spacing: 5px;
    background-color: #fc0000;
    padding: 15px;
    margin: 30px;
    text-decoration: none;
}

.caption a:hover {
    background-color: rgb(0, 0, 0);
}

/* RESPONSIVE ========== */

@media screen and (max-width: 770px) {
    .flex-direction-nav a {
        opacity: 1;
    }

    .flex-direction-nav .flex-prev {
        left: 15px;
    }

    .flex-direction-nav .flex-next {
        right: 15px;
    }

    .caption h2 {
        font-size: 50px;
    }

}

@media screen and (max-width: 600px) {
    .caption h2 {
        font-size: 40px;
    }

    .flexslider {
        width: 100%;
        border-radius: 0px;
        border: none;
    }

    .slides li {
        overflow: hidden;
    }

    .slides li img {
        width: 500px;
    }

    .flex-direction-nav a {
        top: auto;
    }
}

@media screen and (max-width: 450px) {
    .slides li img {
        transform: translateX(-90px);
    }

    #page-title {
        font-size: 40px;
    }
}


/*Tarjetas*/

.titulo-Hombre {
    font-size: 30px;
    text-align: center;
    color: rgb(100, 19, 167);
    padding: 30px;
}

.targetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(216, 215, 215, 0.308);
    -webkit-transition: margin 0.8s ease-out;
    -moz-transition: margin 0.8s ease-out;
    -ms-transition: margin 0.8s ease-out;
    transition: margin 0.8s ease-out;
}

.card-reloj {
    width: 35%;
    text-align: center;
    flex-grow: 1;
    margin: 50px;
    max-width: 210px;
    cursor: pointer;
}

.card-perfume {
    width: 55%;
    text-align: center;
    flex-grow: 1;
    margin: 50px;
    max-width: 300px;
    cursor: pointer;
}

.img-fluid-perfume{
    width: 70%;
    height: 370px;
    padding: 10px 5px;
}

.card-billetera {
    width: 35%;
    text-align: center;
    flex-grow: 1;
    margin: 50px;
    max-width: 210px;
    cursor: pointer;
}

.card-body {
    width: 115%;
    transition: 0.6s;
    border: 1.5px solid rgba(121, 121, 121, 0.741);
    background-color: rgb(255, 255, 255);
}

.card-body:hover {
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.474);
    margin-top: 10px;
}

.card-title {
    font-size: 20px;
    background: rgb(250, 0, 0);
    font-family: Rancho;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

.img-fluid {
    width: 80%;
    padding: 15px 5px;
}

.img-fluid-perfumes {
    width: 75%;
    padding: 15px 5px;
    height: 350px;
}


/*Estilos para el texto del menu de imagenes*/
.title__products__father {
    text-align: center;
    top: auto;
}

.subtitle-products {
    position: relative;
    text-align: center;
    top: -50px;
    font-family: 'myFont';
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #ffffff;

}

.title-products {
    display: inline-block;
    position: relative;
    font-family: 'myFont';
    font-size: 40px;
    color: #6f048a;
    padding: 30px;
}

.title-products::after,
.title-products::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    /* background-color: currentColor;  */
    top: 0.6em;
}

.title-products::before {
    left: -130px;
    top: 80px;
}

.title-products::after {
    right: -130px;
    top: 80px;
}

/*targetas informacion*/

.preferencias-contenedor {
    display: inline-block;
    display: flex;
    position: relative;
    background: rgba(118, 0, 252, 0.9);
    text-align: center;

}

.animado {
    background-color: rgba(0, 0, 0, 0.705);
    opacity: 0;
    transition: all 0.8s;
}

.preferencias-contenedor img {
    width: 45%;
    padding: 15px 5px;
    border: 10px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
}

.contenido {
    text-align: center;
    padding: 80px;
    width: 80%;
}

.preferencias-contenedor .contenido h1 {
    font-family: 'open sans';
    display: inline-block;
    position: relative;
    font-size: 40px;
    color: #f8f8f8;
}

.preferencias-contenedor .contenido p {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}

/**otros productos*/

.targetas-otros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-transition: margin 0.8s ease-out;
    -moz-transition: margin 0.8s ease-out;
    -ms-transition: margin 0.8s ease-out;
    transition: margin 0.8s ease-out;
}

.card-otros {
    width: 55%;
    text-align: center;
    flex-grow: 1;
    margin: 50px;
    max-width: 550px;
    cursor: pointer;
}

.card-title-otros {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    letter-spacing: 3px;
    font-family: Slabo 50px;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;

}


.img-fluid-otros {
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0.741);
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 20px;
    flex-wrap: wrap;
}

.cards .card {
    margin: 10px;
    padding:0px;
    background: #cf0404f1;
    display: flex;
    flex-grow: 1;
    max-width: 580px;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.74);

}

.cards .card img {
    width: 200px;
    height: 130px;
    margin: 0px 20px;
    object-fit: cover;
    border: 3px solid #fff;
}

.contenido-texto-card h2{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.cards .card>.contenido-texto-card p {
    font-weight: 100px;
    padding-top: 10px;
    color: rgb(31, 30, 30);
}

/*boton flotante volver*/

.btn-flotante {
    font-size: 30px;
    /* Cambiar el tamaño de la tipografia */
    color: #ffffff;
    /* Color del texto */
    border-radius: 30px;
    /* Borde del boton */
    background-color: #fc0000e3;
    /* Color de fondo */
    padding: 8px;
    /* Relleno del boton */
    position: fixed;
    bottom: 5%;
    right: 5px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.268);
    z-index: 99;
    text-decoration: none;
    opacity: 0;
   
    /**quitar el subrayado del ipervinculo*/
}

.volver-fixed {
    opacity: 1;
    transition: all 0.8s;
}

.btn-flotante:hover {
    background-color: #4d4d4dfd;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.563);
    transform: translateY(-7px);
}

@media only screen and (max-width: 150px) {
    .btn-flotante {
        font-size: 25px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}

.volver {
    margin: 15px;
}

.btn-volver {
    font-size: 25px;
    color: #ffffff;
    border-radius: 14px;
    letter-spacing: 5px;
    background-color: #fc0000e3;
    padding: 10px;
    margin: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.268);
    text-decoration: none;
    margin-left: 14%;
}

/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}

.content-foo {
    text-align: center;

}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;

}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;

}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }
}

/**editar la barra lateral*/
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 0px;
}

