/**menu de hombres*/
.menu-hombre {
    columns: 3;
    padding: 2%;
    text-align: center;
    background-color: rgba(209, 208, 208, 0.207);

}

.menu-hombre img {
    width: 60%;
    cursor: pointer;
    transition: 0.6s;
}

.billetera:hover img {
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.474);
}

.perfume:hover img {
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.474);
}

.reloj:hover img {
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.474);
}


/*Tarjetas*/


.titulo-Hombre {
    font-size: 30px;
    text-align: center;
    color: rgb(100, 19, 167);
    padding: 30px;
}

.targetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(197, 197, 197, 0.124);
    -webkit-transition: margin 0.8s ease-out;
    -moz-transition: margin 0.8s ease-out;
    -ms-transition: margin 0.8s ease-out;
    transition: margin 0.8s ease-out;
}

.card-reloj {
    width: 35%;
    text-align: center;
    flex-grow: 1;
    margin: 50px;
    max-width: 210px;
    cursor: pointer;
}

.card-perfume {
    width: 55%;
    text-align: center;
    flex-grow: 1;
    margin: 50px;
    max-width: 300px;
    cursor: pointer;
}

.card-billetera {
    width: 35%;
    text-align: center;
    flex-grow: 1;
    margin: 50px;
    max-width: 210px;
    cursor: pointer;
}

.card-body {
    width: 115%;
    transition: 0.6s;
    border: 1.5px solid rgba(121, 121, 121, 0.741);
    background-color: rgb(255, 255, 255);
}

.card-body:hover {
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.474);
    margin-top: 10px;
}

.card-title {
    font-size: 20px;
    background: rgb(250, 0, 0);
    font-family: Rancho;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

.img-fluid {
    width: 80%;
    padding: 15px 5px;
}

.img-fluid-perfumes {
    width: 75%;
    padding: 15px 5px;
    height: 350px;
}

/**otros productos*/

.targetas-otros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(197, 197, 197, 0.124);
    -webkit-transition: margin 0.8s ease-out;
    -moz-transition: margin 0.8s ease-out;
    -ms-transition: margin 0.8s ease-out;
    transition: margin 0.8s ease-out;
}

.card-otros {
    flex-grow: 1;
    margin: 30px;
    max-width: 640px;
    text-align: center;
}

.card-title-otros {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    letter-spacing: 3px;
    font-family: Slabo 50px;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    
}


.img-fluid-otros{
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0.741);
}












/*boton flotante volver*/

.btn-flotante {
    font-size: 30px;
    /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase;
    /* Texto en mayusculas */
    font-weight: bold;
    /* Fuente en negrita o bold */
    color: #ffffff;
    /* Color del texto */
    border-radius: 14px;
    /* Borde del boton */
    letter-spacing: 5px;
    /* Espacio entre letras */
    background-color: #fc0000e3;
    /* Color de fondo */
    padding: 10px;
    /* Relleno del boton */
    position: fixed;
    bottom: 5%;
    right: 20px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.268);
    z-index: 99;
    text-decoration: none;
    /**quitar el subrayado del ipervinculo*/
}

.btn-flotante:hover {
    background-color: #7c0594a1;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.563);
    transform: translateY(-7px);
}

@media only screen and (max-width: 150px) {
    .btn-flotante {
        font-size: 25px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}

.volver {
    margin: 15px;
}

.btn-volver {
    font-size: 25px;
    color: #ffffff;
    border-radius: 14px;
    letter-spacing: 5px;
    background-color: #fc0000e3;
    padding: 10px;
    margin: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.268);
    text-decoration: none
}