*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
}

/* ----- Barra de navegación *Open* ----- */

a:link, a:visited, a:active {
    text-decoration:none;
}

/*Estilos de la imagen del nombre de la tienda*/
.title img{
	float: left;
	margin-left: 10px;
	width: 500px;
	display: inline;
}

/*Estilos del input (Buscar)*/
.buscador{
	float: left;
	margin: 20px;
}
/* --- Estilos de las listas y la barra de navegación*/
header{
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 100;
	background-color: beige;
}

nav ul{
	display: inline-block;
	list-style: none;
}

.menu li{
	margin-top: 15px;
	position: relative;
	display: inline-block;
}

.menu li a{
	display: block;
	padding: 8px;
	text-decoration: none;
}

/* --- */

/* ----- Barra de navegación *Closed* ----- */

/* ----- Submenu *Open* ----- */

.submenu{
	position: absolute;
	background:rgba(245,245,220,.8);
	width: 120%;
	visibility: hidden;
	opacity: 0;

	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/* ----- Submenu *Closed* ----- */

/* ----- Barra de navegación Decoraciones *Open* ----- */  

/*Estilos del logo de la tienda (imagen de la derecha)*/
.images img{
	position: relative;
	float: right;
	left: 462px;
	top: -38px;
	width: 100px;
	height: 100px;
}

/* --- Decoraciones del input (Buscar)*/
input.src{
	padding: 9px, 10px, 9px, 32px;
	outline: none;
	font-size: 18px;
	border-radius: 25px;
	color: #444;
	border: 3px solid #a50559;
	background: #fff url(../images/search.png)
		no-repeat 9px center;
	width: 210px;
	/* text-align: center; */
	text-indent: 30px;

	transition: all .5s;
}

input.src:hover{
	width: 300px;
	background-color: #fff;
	border-color: #a22;
	box-shadow: 0 0 5px #6dcff680;
}

/* --- */

/* --- Decoraciones de las listas (navegación)*/

.link-header::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #a50559;
	transition: width .3s;
}

.link-header:hover::after{
	width: 100%;
	transition: width .3s;
}

/* --- */

/* ----- Barra de navegación Decoraciones *Closed* ----- */ 

/* ----- Slider *Open* ----- */

/* Estilos del slider*/
#slider{
	width: 90%;
	margin: auto;
	overflow: hidden;
	cursor: pointer;

}

/* --- Estilos de la tabla del slider*/
#slider ul{
	display: flex;
	padding: 0;
	width: 500%;	

	animation: slider 20s infinite ease-in-out;
}

#slider li{
	width: 100%;
	height: 400px;
	list-style: none;
}

/* --- */

/*Estilos de las imagenes del slider*/
#slider img{
	width: 100%;
	height: 100%;
}

/*Decoraciones del slider*/
#slider:hover{
	box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.474);
	transition: .6s;
}

/*Tamaños del slider para la continuidad infinita del slider*/
@keyframes slider{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	95%{margin-left: -300%;}

	100%{margin-left: -400%;}
}

/* ----- Slider *Closed* ----- */

/*  ----- Estilos del menú de imagenes *Open* ----- */

/*Estilos de imagenen principal de los colores*/
#collares{
	width: 400px;
	height: 300px;
	object-fit: contain;
	cursor: pointer;
}

/*Estilos de la caja del menu de imagenes*/
.font{
	background:#aa2222;
	/* background-color:rgba(90, 89, 89, 0.767); */
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 23px;
}

.font h2{
	text-align: center;
}

/*Icono del menu de imagenes (X)*/

.icon-menu img{
	width: 20px;
}

/*Estilos de las imagenes del menu*/

.menu-img img{
	width: 300px;
	height: 300px;

}

/*  ----- Estilos del menú de imagenes*Closed* -----  */

/*  ----- Menu de imagenes de los collares *Open* -----  */

#btn-menu{
	display: none;
}

.container-menu{
	position: absolute;
	opacity: 0;
	visibility: hidden;

	transition: all 500ms ease;
}

#btn-menu:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
}

.cont-menu{
	margin-left: 120px;
	margin-right: 120px;
	padding-top: 2%;
	padding-right: 5%;
	padding-bottom: 2%;
	padding-left: 5.5%;
	border: 1px solid #000;
	background: rgba(0,0,0,.1);
	position: relative;
}

.menu-img img{
	border: 1px solid #000;
	cursor: pointer;
	
	transition: .3s;
}

.menu-img img:hover{
	background: rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px #000;
}

.icon-menu{
	position: absolute;
	left: 130px;
	top: 10px;
	cursor: pointer;
}




